asgiref==3.9.2
Brotli==1.1.0
cffi==2.0.0
charset-normalizer==3.4.3
cssselect2==0.8.0
Django==5.2.6
et_xmlfile==2.0.0
fonttools==4.60.1
gunicorn==23.0.0
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
reportlab==4.4.4
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
